apturl
blinker
brlapi
certifi
chardet
chrome-gnome-shell
click
colorama
command-not-found
cryptography
cupshelpers
dbus-python
defer
distro
distro-info
html5lib
importlib-metadata
jeepney
jupyter
language-selector
launchpadlib
louis
lxml
macaroonbakery
more-itertools
netifaces
oauthlib
olefile
pandas
pillow
pip-chill
protobuf
pycups
pygobject
pyjwt
pymacaroons
pynacl
pyrfc3339
python-apt
python-debian
pyxdg
pyyaml
reportlab
requests
scour
secretstorage
systemd-python
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unattended-upgrades
urllib3
virtualenv
wadllib
xdg
xkit
zipp
